<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {%include "header.html"%}
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg p-2 my-1 text-center" id="intro_txt">
          <h2>🚓Welcome!🚓</h2>
          <p class="center">This site is for visualizing crime data that has been gathered by
            the <u><a href="https://crime-data-explorer.fr.cloud.gov/pages/home">
              Crime API</a></u>. I want to spread awareness and bring the ability
               to see visually what is being reported. Please use this site to
               the fullest.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xlg align-self-center">

        </div>
      </div>
      <div class="row">
        <div class="col-med">
        <img src="{{img}}" class="img-fluid" alt="graph">
        <p class="col-med pic_info"><em>(Data attained through the <a href="https://crime-data-explorer.fr.cloud.gov/pages/home"> FBI Crime API)</a></em></p>
        </div>
        <div class="col-sm align-self-center">
          <p>Crime data being explained right here on the front page dfsadffasfsdfdsfsffdsfds</p>
        </div>
      </div>
      <div class="row">
        <div >

        </div>
      </div>
    </div>
  </body>
</html>
