<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {%include "header.html"%}
  </head>
  <body>
    <div class="container-flexible">
      <div class="row">
        <div class="col xlg p-2 m-1 text-center">
          <h1 style="border-color: #ffd60a; border-style: double;"><strong>My Mission</strong></h1>
        </div>

      </div>
      <div class="row">
        <div class="col xlg m-1 text-center">
          <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia-exp1.licdn.com%2Fdms%2Fimage%2FC4D03AQFVMW5wpQkHOw%2Fprofile-displayphoto-shrink_200_200%2F0%2F1613763912051%3Fe%3D1658966400%26v%3Dbeta%26t%3D31HVMq4XhCl-UMKJmInqyVufxlihSeSEaQ5F7e37jBg&imgrefurl=https%3A%2F%2Fwww.linkedin.com%2Fpub%2Fdir%2FTaj%2F%2B%2Fus-84-San-Francisco-Bay-Area&tbnid=EW5-mqm8x-0ApM&vet=12ahUKEwipoOuV59j4AhUSoWoFHRjUCm8QMygAegQIARAg..i&docid=_tjcdpYaIj2XiM&w=200&h=200&q=taj%20exume&ved=2ahUKEwipoOuV59j4AhUSoWoFHRjUCm8QMygAegQIARAg" alt="Site Owners Pic">
          <p style="margin: 50px; font-size: 30px; border-style: double; border-color: #ffd60a">
            Hi👋! My name is Taj. I'm using this site as a way for people to be
          able to create and visualize their own graphs without needing to know
          how to code or do data science. I want to make data accessible and allow
        people to be able to come to their own conclusions on what's being reported
      by the many law enforcement agencies and what is actually being shown to
    happen in our society. I hope for anyone and everyone who uses this site to
  use it as a way to not confirm their own biases but use this as a basis on where
to start looking. I'm also using this site as practice for my programming skills,
so any feedback on what the site is lacking would be most appreciated and I'll do
my best to accomodate those features.</p>

        </div>

      </div>
    </div>
  </body>
</html>
